
<div class="register" style="width:100%;">
    <h1>Paso 3</h1>
    <hr>
    <h2>Estas a un paso de poder vender y obtener muchos ingresos!!</h2>
    <form name="" class="" ng-submit="final()">

        <div class="form-group">
            <label for="Nombre">Que venderas ?</label>
        </div>
        
        <div class="row" style="text-align:center;">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../images/Menu_Desayunos_Barros_Jarpa3842405.jpg" alt="">
                    <span style="">Desayunos</span>
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../images/Menu_Desayunos_Barros_Jarpa3842405.jpg" alt="">
                    <span style="">Comidas</span>
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../images/Menu_Desayunos_Barros_Jarpa3842405.jpg" alt="">
                    <span style="">Cenas</span>
                </a>
            </div>
        </div>
        
        <div class="from-group">
            <button class="btn btn-primary btn-radius">Vende!!</button>
        </div>
    </form>
</div>